<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/planner/css/base.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Vacation Planner</title>
</head>
<body>
    

{% include 'navbar.html' %}

{% block content %}

{% endblock %}

<script src="{{ url_for('static', path='/planner/js/script.js') }}"></script>
<script src="{{ url_for('static', path='/planner/js/nav_bar.js') }}"></script>
</body>
</html>